.header {
  width: 100%;
  height: 6rem;
  background-color: var(--pale-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.header li {
  padding: 0 1.6rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logo img {
  width: 100%;
  height: 100%;
}
