.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 30rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2rem solid var(--dark-grey);
  background-color: var(--white);
  box-shadow: 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container p {
  text-align: center;
  margin-bottom: 1rem;
}

.container button {
  background-color: var(--pale-white);
  padding: 0.3rem 2.4rem;
  border: 0.2rem solid var(--dark-grey);
  box-shadow: 0 0 0 var(--dark-grey);
  transition: all 0.2s;
}

.container button:hover {
  box-shadow: 0.4rem 0.4rem 0 var(--dark-grey);
  transform: translate(-0.4rem, -0.4rem);
}

.container button:active {
  box-shadow: 0 0 0 var(--dark-grey);
  transform: translate(0, 0);
}
